body {
    text-align: center;
    background-color: pink;
}
fieldset {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
}